.blue-cloud {
    background-image: url(./../../../../public/bluecloud.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    padding: 2em;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.blue-cloud h2 {
    font-size: 2em;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    color: #F5F5F5;
    
}

.blue-cloud p {
    font-family: 'DM Sans', sans-serif;
    color: #F5F5F5;
    font-size: 1.6em;
    margin-top: 0.5em;
}

.blue-cloud p.a {
    font-family: 'DM Sans', sans-serif;
    color: #F5F5F5;
    font-size: large;
    margin-top: 15px;
}


@media (max-width: 962px) {
    .blue-cloud {
        background-image: url(./../../../../public/Subtract.svg);
        background-size: contain;
        display: flex;
        padding: 1.2em;
        height: 19em;
        
    }

    .blue-cloud h2 {
        font-size: 1.6em;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
        color: #F5F5F5;
    }
    
    .blue-cloud p {
        font-size: 1.2em;
    }

    .blue-cloud p.a {
        font-size: 0.8em;
    }
}

    /*Responsividade 600*/
@media (min-width: 0px) and (max-width: 600px) {

    .blue-cloud {
        background-image: url(./../../../../public/Subtract.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 17em;
        
    }

    .clientsImg {
        width: 100em;
        height: 75%;
        margin-left: 20px;
        margin-top: 15px;
    }

    .blue-cloud h2 {
        margin-bottom: 10px;
        font-weight: 700;
        line-height: 20px;
    }
    
    .blue-cloud p {
        font-family: 'DM Sans', sans-serif;
        line-height: 18px;
        width: 19em;
    }

    

}

/*Responsividade 600-800*/
@media (min-width: 601px) and (max-width: 800px) {

    .blue-cloud {
        background-image: url(./../../../../public/blue-cloud-png.png);
        height: 20em;
    }

    .clientsImg {
        height: 80%;

    }

    .blue-cloud h2 {
        font-size: 1.6em;
        line-height: 20px;
    }
    
    .blue-cloud p {
        margin-top: 10px;
        line-height:25px ;
    }

}