@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.card {
    background-color: #EEEEEE;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 1em 1.5em 2em 2em;
    width: 20em;
}

.card h3 {
    color: #04338f;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    margin-left: 20px;
    font-size: 18px;
}

.card p {
    margin: 0px 20px 10px 20px;
    color: black;
    font-size: 15px;
    min-height: 6em;
}

.card button {
    margin: 0px 20px 20px 20px;
    background-color: #04338f;
    padding: 5px 20px;
    border-radius: 10px;
    color: #F5F5F5;

}

.card button:hover{
    background-color: #001d56;
}


    /*Responsividade 0-600*/
@media (min-width: 0px) and (max-width: 600px) {

    .card {
        background-color: #EEEEEE;
        border-radius: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 1em 1.5em 2em 2em;
        width: 22em; 
        height: 13.5em;
        display: flex;
        position: relative;
    }
    
    .productsImg {
        width:300px;
        height: 250px;
        margin-top: -25px;
    }

    .textRight {
        display: inline;
        margin-top: 50px;
    }

    .textRight h3 {
        color: #04338f;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
        margin-left: 20px;
        font-size: 16px;
        
    }

    .textRight p {
        margin: 1px 10px 10px 10px;
        color: black;
        font-size: 11px;
        min-height: 6em;
        margin-left: 20px;
        margin-right: 25px;
    }

    .textRight button {
        margin: 0px 20px 20px 20px;
        background-color: #04338f;
        font-size: 12px;
        padding: 2px 2px;
        height: 22px;
        width: 160px;
        border-radius: 5px;
        
    }

}

    /*Responsividade 600-800*/
    @media (min-width: 601px) and (max-width: 800px) {

        .card {
            background-color: #EEEEEE;
            border-radius: 20px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            margin: 1em 1.5em 2em 2em;
            width: 18em; 
            height: 16em;
            display: inline;
            position: relative;
        }
        
        .productsImg {
            width:120px;
            height: 150px;
            margin-top: -10px;
        }
    
        .textRight h3 {
            color: #04338f;
            font-weight: 700;
            font-family: 'DM Sans', sans-serif;
            margin-left: 20px;
            margin-top: -15px;
            font-size: 14px;
            
        }
    
        .textRight p {
            margin: 1px 10px -5px 10px;
            color: black;
            font-size: 10px;
            min-height: 6em;
            margin-left: 20px;
            margin-right: 20px;
        }
    
        .textRight button {
            margin: 0px 20px 20px 20px;
            background-color: #04338f;
            font-size: 12px;
            padding: 2px 2px;
            height: 30px;
            width: 100px;
            border-radius: 5px;
            
        }
    
    }