.plans-box {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.planstitle {
    color: #04338F;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    margin-top: 15px;
}


    /*Responsividade 600*/
@media (min-width: 0px) and (max-width: 600px) {
    
    .planstitle {
        color: #04338F;
        text-align: center;
        font-weight: 700;
        font-size: 1.5em;
        margin-top: 15px;
    }

    .plans-box {
        display: inline;
        justify-content: space-evenly;
        margin: 20px;
    }
}


    /*Responsividade 600-800*/
@media (min-width: 601px) and (max-width: 800px) {
    
    .planstitle {
        color: #04338F;
        text-align: center;
        font-weight: 700;
        font-size: 1.6em;
        margin-top: 20px;
    }

    .plans-box {
        display: inline;
        justify-content: space-evenly;
        margin: 20px;
    }
}