footer {
  background-image: url(../../../public/footercloud.png);
  background-color: #00a2e1;
  background-size: cover;
  height: 14em;
  display: flex;
  justify-content: space-around;
  padding: 10em 4em 10em 4em;

}

.footer-info p,
a {
  color: #04338f;
}

.social-icons {
  justify-content: space-between;
  width: 7.1em;
  display: flex;
  color: #00a2e1;
  font-size: 1.7em;
}


  /*Responsividade 400-600*/
@media (min-width: 400px) and (max-width: 600px) {

  footer {
    background-image: url(../../../public/footercloud.png);
    background-color: #00a2e1;
    background-size: cover;
    height: 14em;
    display: flex;
    justify-content: space-around;
    padding: 10em 4em 10em 4em;
  }
    
  .footer-info p,
    a {
    color: #04338f;
    }
  
  .footer-info {
    margin-top: -68px;
    margin-right: 2px;
  }
  
  .font-bold {
    font-size: 12px;
  }
  
  .links {
    font-size: 10px;
    padding-bottom: 1px;
  }
  
  .footerLogo {
    margin-left: -2.5px;
  }
  
  .social {
    width:150px;
    margin-left: -45px;
    margin-top: -70px;
    margin-right: 30px;
  }
  
  .social-icons {
    justify-content: space-between;
    width: 5.1em;
    display: flex;
    color: #00a2e1;
    font-size: 1.2em;
    
    }
  
  }