.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a2e1;
}

.cadastro{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #04338F;
    padding: 2% ;
    border-radius: 30px;
    margin: 5%;
    padding-bottom: 5%;
}
.form{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}
.form div{
    display: flex;
    flex-direction: column;
    margin: 13px;
}
.cadastro h1{
    font-size: 30px;
    color: white;
    margin: 30px;
}
.cadastro label{
    margin: 5px;
    color: white;
}
.cadastro input{
    outline: none;
    border-radius: 10px;
    padding: 8px 25px;
}
.cadastro button{
    color: white;
    border-radius: 5px;
    background-color: rgb(103, 161, 232);
    width: 266px;
    height: 40px;
    margin-inline: 13px;
    margin-top: 44px;
    /* padding: 10px 111.5px; */
}
.cadastro button:hover{
    background-color:  rgb(93, 145, 208);
}
.cadastro p{
    text-align: center;
    background-color: white;
    border-radius: 55px;
    padding: 20px;
    margin: 20px;
}
.error{
    color: red;
}
.success{
    color: green;
}
.valueError:focus {
    border:1px solid red;
}
.valueSucess:focus{  
    border:1px solid green;

}